.home{
  text-align: center;
  width: 100%;
  height: 100%;
}

#refresh-button{
  background-color: #62b562;
  color: white;
  font-weight: bold;
  border-style: none;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  padding: 2.5px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}

#refresh-button:hover{
  opacity: 0.5;
}

.current-song{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.playlist{
  margin: 5px;
}

.playlist-h{
  width: calc(100% - 10px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


.showcase{
  width: 150px!important;
  height: 220px!important;
  margin: 0 10px;
  padding: 0;
  font-size: 2px;
  text-align: center;
  border-radius: 2px;
  background-color: darkslategray;
}

.showcase > a > img{
  max-width: 150px;
  max-height: 200px;
}

.showcase-button{
  background-color: #62b562;
  color: white;
  font-weight: bold;
  border-style: none;
  border-radius: 2px;
  width: 120px;
  height: 20px;
  padding: 2.5px;
}

.track, .artist{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.track > h2, .artist > a{
  max-width: 140px;
  color: whitesmoke;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artist > a{
  color: cyan!important;
  text-decoration: none;
}


.disclaimer-info{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 6px;
}

.disclaimer-info > img{
  width: 70px;
  height: 21px;
  margin: 12.5px;
}

@media (max-width: 239px){
  .swiper-wrapper{
    width: 100px;
  }

  .track{
    font-size: 5.5em;
  }

  .artist{
    font-size: 7em;
  }
}


@media (min-width:240px) and (max-width: 359px){
  .track{
    font-size: 5.5em;
  }

  .artist{
    font-size: 6.5em;
  }

  .disclaimer-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-items: center;
    font-size: 8px;
    margin: 5px 0;
    width: 100%;
  }

  .disclaimer-info > img{
    margin: 0;
  }
}


@media (min-width: 360px) and (max-width: 479px){
  .track{
    font-size: 5em;
  }

  .artist{
    font-size: 6em;
  }
}


@media (min-width: 480px) and (max-width:639px){
  .track{
    font-size: 4.5em;
  }

  .artist{
    font-size: 6em;
  }
}

@media (min-width: 640px){
  .track{
    font-size: 4em;
  }

  .artist{
    font-size: 6em;
  }
}

@media (max-width: 799px){
  #home-playlist{
    width: 100%;
  }
}

@media (min-width: 800px){
  #home-playlist{
    width: 800px;
  }
}
